{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}


		
<div class="accueil ">
{# <h2>BIENVENUE</h2> #}
<h1 class="mb-5 red">NOS CHAMBRE</h1>
					
</div>





    

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      {# <img src="https://th.bing.com/th/id/OIP.n82o0oioofp1Rqr5JqNB_AHaDt?pid=ImgDet&rs=1" class="img-fluid rounded-start" alt="..."> #}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Chambre Confort</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lorem hendrerit, tempus turpis vitae, aliquam massa. Fusce euismod ipsum ut dui gravida,</p>
        
      </div>
      </div>
      </div>

      <br><br>

      <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      {# <img src="https://www.fourseasons.com/alt/img-opt/~70.1530/publish/content/dam/fourseasons/images/web/GEN/GEN_268_original.jpg" class="img-fluid rounded-start" alt="..."> #}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Chambre suite</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lorem hendrerit, tempus turpis vitae, aliquam massa. Fusce euismod ipsum ut dui gravida,</p>
        
      </div>
      </div>
      </div>
      </div>
      <br><br>
      

      <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      {# <img src="https://th.bing.com/th/id/OIP.3lUjvtshN6uD0k_wfxdaLwHaE8?pid=ImgDet&rs=1" class="img-fluid rounded-start" alt="..."> #}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Chambre classique</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac lorem hendrerit, tempus turpis vitae, aliquam massa. Fusce euismod ipsum ut dui gravida,</p>
        
      </div>
      
      
    </div>
  </div>
</div>









{% endblock %}
